* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #666;
}

body {
  background-color: #141e32;
}

.main {
  margin-top: 60px;
  margin-bottom: 200px;
  padding-top: 50px;
  min-height: 700px;
}

section,
.section {
  width: 800px;
  margin: auto;
  padding: 10px;
}

section.full-width,
.section.full-width {
  width: 96%;
}

h1,
h2,
h3,
h4,
li,
span {
  color: #fff;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

h2,
h3,
h4 {
  font-size: 40px;
  line-height: 44px;
  margin-block-start: 0px;
  margin-block-end: 16px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

p,
a,
a:visited {
  color: #ffffff;
}

p {
  margin-block-start: 0px;
  margin-block-end: 16px;
}

.gridjs a {
  color: #333333;
}

th.gridjs-th,
.gridjs-td {
  color: black !important;
}

select {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 4px;
  color: #333;
}

.button {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #aaa;
  background-color: #141e32;
}

.button:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

p,
a,
a:visited {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

ul {
  margin: 0;
}

li {
  margin-left: 20px;
  list-style: circle;
}

img {
  width: 100%;
}

.gridjs-table th.gridjs-th,
.gridjs-table td.gridjs-td {
  padding: 4px;
  min-width: 100px !important;
  white-space: nowrap;
}

nav {
  background-color: #101010;
  display: flex;
  position: fixed;
  flex: 1 0 auto;
  justify-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a2640;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 100;
}

nav ul,
nav li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0px 20px;
}

nav a {
  display: inline-flex;
  cursor: pointer;
}

nav a:link,
nav a:visited,
li a:link,
li a:visited {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
}

.tab .tablinks {
  background-color: #1a2640;
  cursor: pointer;
  padding: 10px;
}

.tab .tablinks:hover {
  color: #fff;
}

.tab .tablinks.active {
  background-color: #fff;
}

.tab .tablinks.active:hover {
  color: #000000;
}

footer {
  clear: both;
  background-color: #000000;
  padding: 20px;
  padding-bottom: 100px;
}

footer p {
  color: #999;
}

.warn * {
  color: yellow;
}

table {
  text-align: left;
}

table th {
  font-weight: 600;
}

table tr:hover {
  background-color: #1a2640;
}

table th,
table td {
  padding: 4px;
  color: #ffffff;
}

table a:link,
table a:visited {
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #141e32;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.close-modal:hover,
.close-modal:focus {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.compare-img {
  border: 1px solid #333;
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.compare-img:hover {
  border: 1px solid white;
  cursor: pointer;
}

.compare-wrapper h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.compare-wrapper a {
  text-decoration: none;
}

.compare-wrapper a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 2000px) {
  .compare-wrapper {
    width: 200px;
    margin: 10px;
    float: left;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  section,
  .section {
    width: 100%;
    padding: 20px;
  }

  .compare-wrapper {
    width: 30%;
    margin: 10px;
    float: left;
    text-align: center;
  }

  footer {
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
  }
}

#page-map {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
